<style>
body{
	background-color: rgb(105, 209, 81, 0.5);
	}
h1{
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

div.Kort{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	}
	
div.Tekst{
	text-align: center;
	padding-top: 160px;
	padding-left: 30px;
	font-size: 20px;
	line-height: 1.5;
}

div.Damian{
	padding-top: 50px;
	padding-right: 50px;
}

div.desc{
	font-weight: bold;
	text-align: right;
	padding-right: 75px;
	padding-bottom: 40px;
	}
	

</style>
